#**Libreria de pandas 游냪**

In [27]:
import pandas as pd

ruta = "https://raw.githubusercontent.com/VMjavier/claseAnalisisDatos/refs/heads/main/veterinaria_colombia.csv "
df = pd.read_csv(ruta)
df.head()

,ID_Mascota,Nombre,Especie,Raza,Edad,Peso_kg,Temperatura_C,Frec_Cardiaca,Frec_Respiratoria,Costo_Consulta
0,1,Rocky,Perro,Criollo,3 a침os,12.5kg,38.5춿C,110 lpm,25 rpm,$50.000
1,2,Luna,Gato,Siames,2,4.2,39.0,NaN,20,$45.000
2,C-003,Bella,Perro,Labrador,5 a침os,25.0kg,38.7춿C,95 lpm,30 rpm,$60.000
3,4,NaN,Gato,Persa,7,5.1kg,38.9춿C,140,22 rpm,$55.000
4,5,Max,Perro,NaN,4 a침os,18.3,38.4춿C,100,28,$65.000

In [28]:
df.info() #object debe tener datos alphabeticos o alphanumericos
# y los datos numericos deben ser float(no enteros) o int(enteros)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_Mascota         11 non-null     object
 1   Nombre             9 non-null      object
 2   Especie            10 non-null     object
 3   Raza               8 non-null      object
 4   Edad               10 non-null     object
 5   Peso_kg            9 non-null      object
 6   Temperatura_C      9 non-null      object
 7   Frec_Cardiaca      9 non-null      object
 8   Frec_Respiratoria  10 non-null     object
 9   Costo_Consulta     10 non-null     object
dtypes: object(10)
memory usage: 1012.0+ bytes

In [29]:
df.columns

Index(['ID_Mascota', 'Nombre', 'Especie', 'Raza', 'Edad', 'Peso_kg',
       'Temperatura_C', 'Frec_Cardiaca', 'Frec_Respiratoria',
       'Costo_Consulta'],
      dtype='object')

In [30]:
df.isnull().sum()

ID_Mascota           0
Nombre               2
Especie              1
Raza                 3
Edad                 1
Peso_kg              2
Temperatura_C        2
Frec_Cardiaca        2
Frec_Respiratoria    1
Costo_Consulta       1
dtype: int64

In [31]:
df.shape #filas y columnas

(11, 10)

#**LIMPIEZA**游빛

In [32]:
df.columns

Index(['ID_Mascota', 'Nombre', 'Especie', 'Raza', 'Edad', 'Peso_kg',
       'Temperatura_C', 'Frec_Cardiaca', 'Frec_Respiratoria',
       'Costo_Consulta'],
      dtype='object')

In [33]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_')

In [34]:
df.columns

Index(['id_mascota', 'nombre', 'especie', 'raza', 'edad', 'peso_kg',
       'temperatura_c', 'frec_cardiaca', 'frec_respiratoria',
       'costo_consulta'],
      dtype='object')

In [35]:
df.rename(columns = {"nombre": "nombre_mascota"}, inplace= "true")

In [36]:
df.columns

Index(['id_mascota', 'nombre_mascota', 'especie', 'raza', 'edad', 'peso_kg',
       'temperatura_c', 'frec_cardiaca', 'frec_respiratoria',
       'costo_consulta'],
      dtype='object')

#**Eliminar filas o columnas completamente vacias**游뛅

In [37]:
df.dropna(axis = 0, how = "all", inplace = True ) #fila = 0
df.dropna(axis = 1, how = "all", inplace = True ) #columna = 1

In [38]:
df.shape

(11, 10)

In [39]:
df.drop(columns = ["nombre_mascota"], inplace = True)

In [40]:
df.columns

Index(['id_mascota', 'especie', 'raza', 'edad', 'peso_kg', 'temperatura_c',
       'frec_cardiaca', 'frec_respiratoria', 'costo_consulta'],
      dtype='object')